<div class="container page create-post-page">
    <form class="card p-4 create-post-form" method="POST" action="/edit-post/<%- postId %>">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" aria-describedby="title" name="title"
                   value="<%- form.title %>">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea type="text" class="form-control" id="content" name="content"
                      value="<%- form.content %>"><%- form.content %></textarea>
        </div>
        <div class="d-flex flex-column gap-2 justify-content-between w-100">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        <% if (errors && Object.keys(errors).length > 0) { %>
            <div class="alert alert-danger mt-4">
                <% for (const key in errors) { %>
                    <li><%= errors[key].message %></li>
                <% } %>
            </div>
        <% } %>
    </form>
</div>